/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  width: 25%;
  color: white;  
  left: 0;
  background-image: url(https://images.unsplash.com/photo-1647193378780-f2573b80a1e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80);
}

.numButt{
  font-size: 500%;
}

/* Control the right side */
.right {
  width: 75%;
  right: 0;
  background-image: url(https://images.unsplash.com/photo-1651867549418-39c74aa60534?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1228&q=80);  }

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
footer{
    position: fixed;
    left:0;
    bottom:0;
    width:100%;
    image-resolution: 20px;
    background-color: bisque;
    color:black;
    text-align: center;
}
.footer-content{
    max-width: 960px;
    margin: 0 auto;
    font-family: "Comic Sans MS", "Comic Sans", "cursive";
    font-style: bold italic;
    font-weight: 100;
    line-height: 1.4;
    letter-spacing: .03em;
    font-size: 1em;
}
.credit{
  text-align: center;
}